# Dataset
deepglobe/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.pytest_cache/

# Coverage reports
.coverage
.coverage.*
.cache
htmlcov/
.coverage.json

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff
instance/
.webassets-cache

# Scrapy stuff
.scrapy

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Thumbs.db on Windows, .DS_Store on macOS
Thumbs.db
.DS_Store

# Visual Studio Code
.vscode/

# Spyder project settings
.spyderproject
.spyproject

# PyCharm project settings
.idea/

# Jupyter Lab
.jupyterlab-debug.log
